
* {
    font-family: "Gafata", sans-serif;
}

body {
    padding-top: 50px;
}

a {
    color: #fa5300;
}

a:focus,
a:hover {
    color: #f52500;
}

#translation-flags > li > a {
    padding: 10px 7px;
}

#translation-flags > li:last-child > a {
    padding-right: 25px;
}

#kak-preview {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    background: #6c8646;
    background: -moz-linear-gradient(top, #6c8646 0%, #6c8646 47%, #3f763f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c8646), color-stop(47%,#6c8646), color-stop(100%,#3f763f));
    background: -webkit-linear-gradient(top, #6c8646 0%,#6c8646 47%,#3f763f 100%);
    background: -o-linear-gradient(top, #6c8646 0%,#6c8646 47%,#3f763f 100%);
    background: -ms-linear-gradient(top, #6c8646 0%,#6c8646 47%,#3f763f 100%);
    background: linear-gradient(to bottom, #6c8646 0%,#6c8646 47%,#3f763f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c8646", endColorstr="#3f763f",GradientType=0);
}

#kak-preview-pitch {
    color: #EAEAEA;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: .5em;
}

#kak-title {
    color: #EAEAEA;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: .5em;
}

#kak-preview-logo {
    text-align: center;
}

#kak-features {
    background-color: #FAFAFA;
}

@media only screen and (min-width: 1280px) {
    #kak-features > .row-fluid > .col-lg-4:nth-child(3n+1) {
        clear: both;
    }
}

@media only screen and (max-width: 1279px) {
    #kak-features > .row-fluid > .col-sm-6:nth-child(2n+1) {
        clear: both;
    }
}

#kak-demos {
    background-color: #EEE;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) inset;
}

#footer {
    margin-top: 1em;
    padding: .5em;
    font-size: .9em;
    color: #ACACAC;
    border-top: 1px solid #CCC;
    text-align: center;
}

#table-scripts {
    margin-bottom: 0;
}

#table-scripts tr > td:nth-child(3),
#table-scripts tr > th:nth-child(3),
#table-scripts tr > td:nth-child(4),
#table-scripts tr > th:nth-child(4),
#table-scripts tr > td:nth-child(5),
#table-scripts tr > th:nth-child(5) {
    text-align: center;
}

#table-scripts tr > td:nth-child(3),
#table-scripts tr > th:nth-child(3) {
    font-weight: bold;
}

#carousel-demos .carousel-inner .item > video {
    display: block;
    margin: 1em auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#carousel-demos .carousel-control.left,
#carousel-demos .carousel-control.right {
    background-image: none;
}

#carousel-demos ul.carousel-indicators,
#carousel-demos ol.carousel-indicators {
    margin-bottom: 5%;
}

#carousel-demos ul.carousel-indicators li.active,
#carousel-demos ol.carousel-indicators li.active {
    border: none;
    border-radius: none;
    width: 16px;
    height: 16px;
    background-image: url(../img/kakoune_logo_32.png);
    background-size: cover;
}

.navbar-default {
    border-color: #ACACAC;
}

.navbar-brand {
    padding: 10px 0 10px 10px;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.feature-title {
    font-size: 1.2em;
    color: #fa5300;
}

.feature-text {
    text-align: justify;
    margin-bottom: 1em;
}

.demo-caption {
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;
}

.screenshot-title {
    font-size: 1.2em;
    margin-bottom: .5em;
}
