@font-face {
      font-family: "Gafata";
      font-style: normal;
      font-weight: 400;
      src: local("Gafata"), local("Gafata-Regular"), url(https://fonts.gstatic.com/s/gafata/v5/o-DwOh1jynFSAy8preUMxw.ttf) format("truetype");
}
